<!doctype html>
<html lang="en">
<head>
    <title>Emir - Developer</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Basic metadata  -->
    <meta name="title" content="Emir dev"/>
    <meta name="description" content="Hi I'm Emir, this is my website."/>
    <meta name="keywords" content="my portfolio, portfolio, Emir, Emir, kernel, notorious developer, reverse engineer"/>

    <!-- og:* metadata  -->
    <meta property="og:url" content="https://emir.codes"/>
    <meta property="og:site_name" content="emir.codes"/>
    <meta property="og:title" content="Emir | dev"/>
    <meta property="og:description" content="Hi I'm Emir, this is my website."/>

    <link href="./dist/output.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>

<body>
<div class="hero" id="app">
    <nav>
        <div class="navbar">
            <span class="font-semibold text-xl">emir.codes</span>

            <div class="routers">
                    <span v-for="(rt, index) in routers" :key="index" class="font-semibold text-xl">
                        <a :href="rt.path" class="mr-2">{{rt.name}}</a>
                    </span>
            </div>

            <!-- RESPONSIVE NAVBAR -->
            <div id="responsive-navbar-button" class="rp-button">
                <div>
                    <i v-if="!navbar" @click="toggleNavbar()" class="fa-solid fa-bars text-2xl"></i>
                    <i v-else @click="toggleNavbar()" class="fa-solid fa-times text-2xl"></i>
                </div>
            </div>
        </div>

        <!-- RESPONSIVE NAVBAR -->
        <div id="responsive-navbar">
            <div v-if="navbar" class="rp-box-navbar">
                        <span v-for="(rt, index) in routers" :key="index" class="font-semibold text-xl">
                        <a :href="rt.path" class="mr-2">{{rt.name}}</a>
                    </span>
            </div>
        </div>

    </nav>

    <div v-if="navbar" class="line"></div>

    <main>
        <div class="main-space">
            <div>
                <h1 class="title">Hi, I’m Emir.</h1>

                <p class="paragraph">
                    I’m a developer, co founder of <a target="http://dxgkr.nl" title="dxgkr nl web site link" href="http://dxgkr.nl" class="link">dxgkr.nl</a>
                </p>

                <div id="links" class="links">
                    <div v-for="(sm, index) in socialMedias" :key="index">
                        <a class="effect" target="_blank" :title="sm.name + 'Link'" :href="sm.link">
                            <i class="fa-brands text-2xl" :class="sm.icon" style="color: #777"></i>
                        </a>
                    </div>

                    <button @click="contact()" class="contact-button" id="email">
                        Email me
                    </button>
                </div>
            </div>

            <div class="avatar">
                <img :src="avatar">
            </div>
        </div>

        <div class="featured-projects">
            <h1 class="text-2xl text-black font-semibold">Featured Projects</h1>
            <p class="fp-paragraph">A collection of some side projects that have shipped recently.</p>

            <div id="fp-cards" class="fp-cards">
                <a v-for="(repo, index) in repos" :key="index" :href="repo.link" target="_blank"
                   :title="repo.name + ' Repo'">
                    <div class="fp-card">
                        <div class="fp-card-image">
                            <img :src="repo.image"
                                 :alt="repo.description">
                        </div>

                        <div class="fp-card-content w-full">
                            <div class="flex justify-between items-center w-full">
                                <h1 class="fp-card-title">{{ repo.name }}</h1>

                                <div class="icons">
                                    <h1>{{ repo.star }} <i class="fa-solid fa-star"></i></h1>
                                    <h1>{{ repo.forks }} <i class="fa-solid fa-code-fork"></i></h1>
                                    <h1>{{ repo.issuesCount }} <i class="fa-solid fa-hashtag"></i></h1>
                                </div>
                            </div>
                            <p class="fp-card-paragraph">{{ repo.description || "No Content"}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script>
    Vue.config.devtools = false;

    new Vue({
        el: '#app',
        data: {
            navbar: false,
            avatar: undefined,
            repos: [],
            routers: [
                {
                    name: 'Home',
                    path: '#'
                },
                {
                    name: 'Projects',
                    path: 'http://github.com/refo0'
                },
                {
                    name: 'Contact',
                    path: 'mailto:contact@emir.codes'
                }
            ],
            socialMedias: [
                {
                    name: 'Github',
                    link: 'http://github.com/refo0',
                    icon: 'fa-github',
                },
                {
                    name: 'Twitter',
                    link: 'http://twitter.com/',
                    icon: 'fa-twitter',
                },
            ],
        },
        methods: {
            contact() {
                window.location = 'mailto:contact@emir.codes'
            },
            toggleNavbar() {
                this.navbar = !this.navbar
            },
            setRepos() {
                fetch('https://api.github.com/users/refo0/repos')
                    .then(response => response.json())
                    .then(data => {
                        console.log("sa")
                        const repos = data.map(repo => {
                            if (!repo.fork) {
                                return {
                                    name: repo.name,
                                    description: repo.description,
                                    image: repo.owner.avatar_url,
                                    link: repo.html_url,
                                    star: repo.stargazers_count,
                                    forks: repo.forks_count,
                                    issuesCount: repo.open_issues_count,
                                }
                            }
                        }).filter(repo => repo !== undefined)

                        this.repos = repos.sort((a,b) => b.star - a.star);
                        this.avatar = data[0].owner.avatar_url
                    })
            }
        },
        created() {
            this.setRepos()
        }
    })
</script>
</html>
